{% extends 'base.html' %}

{% block title %} 404 {% endblock %}

{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/error.css">
    <body>
        <div  class="box">
            
            <h1 >404 PAGE NOT FOUND</h1>
            
            
            <p>Esta pagina esta fora do ar ou nao acessesivel volte a pagina principal</p>
            
            
            <a href="/home"><button class="btn btn-dark btn-md" type="button" class="click">
                Volte a pagina inicial
            </button></a>
            
            
        </div>
    
{% endblock %} 