<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    
    <title>404</title>
    <style>
        body,html{
            height: 100%;
            overflow: hidden;
            background-color: white;
            background-size: cover;
        }

        h1{
            color: black;
            font-family: sans-serif;
            font-weight: bold;
        }
        .click{
            color: black;
            font-family: sans-serif;
            font-weight: bold;
        
        }
    </style>
</head>
<body>
    <div class="form-group">
        
        <h1 >500 PAGE NOT FOUND</h1>
        <p class="i-form">Esta pagina esta fora do ar ou nao acessesivel volte a pagina principal</p>
        <button type="button" class="click"><a class="i-form" href="login.html">Volte a pagina inicial</a></button>
    </div>
    
</body>
</html>