{% extends 'base.html' %}

{% block title %} Help {% endblock %}

{% block content %}
<link rel="stylesheet" href="../static/information.css">
<div class="lown">
    <h3 class="lown1">TUDO AQUI EM MANUTENÇÃO</h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
        Ad labore deserunt assumenda rerum a facilis tempore eum dolor dolorem omnis.
        Tempore quae non veritatis nam rerum voluptatum debitis eos molestias.</p>
        <a href="https://www.w3schools.com/html/" target="__blank"><img class="html" src="../static/img/logo-html.png" alt="html" ></a>
        <a href="https://www.w3schools.com/css/" target="__blank"><img class="css" src="../static/img/logo-css.png" alt="css"></a>
        <a href="https://www.w3schools.com/js/" target="__blank"><img class="js" src="../static/img/logo-js.png" alt="javascript"></a>        
</div>


{% endblock %} 